*{box-sizing: border-box}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #1e2126;
}
.screenSplash{
            width: 100%;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            z-index: 1;
        }

.foodmap {
    width: 300px;
    height: 70px;
    margin: 150 px auto 50px auto;
    font-style: 'Slabo 27px', serif;
    color: #e05a21;
    font-size: 50px;
    text-shadow: -1px 2px 2px;
    text-align: center;
}
/* .loader1, .loader {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}
.loader-frame{
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;

}

.loader1{
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    animation: clockwisespin 2s linear 3;
}
.loader2 {
    width: 60%;
    height: 60%;
    border-left: 5px solid darkcyan;
    border-right:  solid darkcyan;
    top:5px;
    left: 5px;
    animation: anticlockwisespin 2s linear 3;
} */

.cerrar {

    transform: translateY(-100%);
    transition: all 0.5s;

     
}
@keyframes clockwisespin {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg)}
}
@keyframes anticlockwisespin {
    from {transform: rotate(0deg);}
    to { transform: rotate(-360deg)}
}

.hiden {
    display: none;
}

.show {
    display: block;
}