*{box-sizing: border-box}
body{
    margin: 0%;
    padding-bottom: 40%;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #3e444c;
}
hr {
    border: 3px solid #666;
    border-radius: 300px/10px;
    height: 0px; text-align: center;
    width: 80%;
    color : white
    }
.tittleHtml{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%
}
.body {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #3e444c;
}
.screenSplash{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0%;
    left:0;
    z-index: 1;
    background: #3e444c;
    display: flex;
    justify-content: center;
    align-content: center;       
}
.foodmap {
    width: 500px;
    height: 70px;
    margin: 150 px auto 50px auto;
    font-style: 'Open Sans Condensed', sans-serif;
    color: #e05a21;
    font-size: 450%;
    text-align: center;
    margin-top: 20%
    
}
.cerrar {
    transform: translateY(-100%);
    transition: all 0.1s;  
}
.hiden {
    display: none;
}
.show {
    display: block;
}
.mapCanvas{
	position: relative;
	padding-top: 30%;
    width: 40%;
    height: 10%;
    margin: 0 auto;
    border: black, 5px;
    border-style: solid;
}
.container {
    text-align: center;
}
.div-data{
    border: 1px solid red;
    width: 33.333%;
    /* margin-right: 10px; */
    text-align: center;
    border-radius: 10px;
    padding: .75rem;
    margin-bottom: 2rem;
    float: left;
}
.div-data-text {
    font-size: 85%;
}
.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;

}
/* .map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
} */